.bugun1 {
    position: absolute !important;
    bottom: 37%;
    right: 51%;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }
  .bugun2 {
    position: absolute !important;
    bottom: 37%;
    right: 1%;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }
  